###########Cluster Accounting#############

#0 4 * * * root php /var/www/accounting/bin/data.php > /dev/null 2>&1
0 4 * * * root php /var/www/accounting/bin/data.php
4 * * * * root php /var/www/accounting/bin/accounting.php --previous-hour > /dev/null 2>&1
0 4 1 * * root php /var/www/accounting/bin/calc_data_usage.php > /dev/null 2>&1
0 8 1 * * root php /var/www/accounting/bin/email.php > /dev/null 2>&1
