<?php
////////////////////////////////////
//
//	settings.inc.php
//
//	Settings for the scripts.
//
//	David Slater
//	May 2009
//
////////////////////////////////////

define("TITLE","Cluster Accounting");
define("DEBUG",false);
define("TIMEZONE","UTC");
define("MYSQL_HOST","");
define("MYSQL_USER","");
define("MYSQL_PASSWORD","");
define("MYSQL_DATABASE","");
define("MYSQL_PORT",3306);
define("MYSQL_SSL",false);
define("LDAP_HOST","");
define("LDAP_BASE_DN","");
define("LDAP_PEOPLE_OU","");
define("LDAP_GROUP_OU","");
define("LDAP_BIND_USER","");
define("LDAP_BIND_PASS","");
define("LDAP_SSL",false);
define("LDAP_TLS",false);
define("LDAP_PORT",389);
define("JOB_SCHEDULER","");
define("TORQUE_ACCOUNTING","/var/spool/torque/server_priv/accounting/");
define("TORQUE_JOBS_LOG","/var/spool/torque/job_logs/");

/////////Email Settings///////////
define("SMTP_HOST","localhost");
define("SMTP_PORT",25);
define("SMTP_USERNAME","");
define("SMTP_PASSWORD","");
define("FROM","");
define("FROM_NAME","");
define("TO","");
define("ADMIN_EMAIL","");

define("SESSION_NAME","cluster_accounting");
define("SESSION_TIMEOUT",3600);

define("DATA_MIN_BILL",1.00);
define("RESERVE_PROCESSORS_FACTOR",0.1);
define("RESERVE_MEMORY_FACTOR",0.1);
define("ROOT_DATA_DIR","");

define("LOG_FILE","");
define("ENABLE_LOG",false);
define("BOA_CFOP",'');
define('PASSWORD_RESET_URL','');
define('REPORT_PREFIX','Report');
?>
